section {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

section > div{
    height: 66vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

    section > div > * {
        border: .5em ridge sienna;
        padding: 1em;
        background-image: linear-gradient(burlywood, linen, burlywood);
    }

    section >*:first-child, section >*:last-child{
        border: .5em ridge sienna;
    }