section {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

    section > * {
        border: .5em ridge sienna;
        background-image: linear-gradient(burlywood, linen, burlywood);
    }

    section >*:nth-child(even){
        padding: 1em;
    }